body {
  background-color: aliceblue ;
}
p {
  color: midnightblack;
  font-family: Comic Sans MS;
}
h1 {
  font-weight: bold;
  color: white;
  font-family:sans-serif;
  font-size: 75px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  background-color: navy;
}
h2 {
  font-weight: bold;
  color: white;
  font-family:sans-serif;
  font-size: 75px;
  margin: 0;
  text-align: center
}
|
|
|
|
|
|
|
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: yellow;
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 10;
  margin-right: 10;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #07e3dc;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: #07e3dc;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ff9d00;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: aliceblue;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: lime;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
|
|
|
|
|
